# -----------------------------
# Virtual environments
# -----------------------------
.venv/
venv/
env/

# -----------------------------
# Python cache
# -----------------------------
__pycache__/
*.py[cod]
*$py.class

# -----------------------------
# Django
# -----------------------------
db.sqlite3
/media/
staticfiles/
static/admin/

# -----------------------------
# Environment variables (SECURITY)
# -----------------------------
.env

# -----------------------------
# IDE / Editor
# -----------------------------
.vscode/
.idea/

# -----------------------------
# OS files
# -----------------------------
.DS_Store
Thumbs.db

# -----------------------------
# Logs
# -----------------------------
*.log

# -----------------------------
# Node (if later added)
# -----------------------------
node_modules/
